/* Déclaration des variables de couleurs globales pour toute l'application */
:root {
    --couleurPrincipale: #007bff;   /* Couleur principale (bleu) */
    --couleurSecondaire: #ffc107;   /* Couleur secondaire (jaune) */
    --couleurTroisieme: #6c757d;    /* Couleur troisième (gris) */
  }
  
  