<!-- Barre de navigation principale -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Logo principal de la navbar -->
    <a class="navbar-brand mr-5" routerLink="/accueil">
      <img src="assets/logo.webp" alt="Logo" width="65" height="65" />
    </a>
    <!-- Bouton de menu hamburger pour la version mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenu de la navbar qui se déploie/collapsera (lien de navigation) -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Section Accueil -->
        <li class="nav-item mr-5">
          <a class="nav-link" routerLink="/accueil" routerLinkActive="active">
            <img
              src="assets/icons/home.png"
              alt="Accueil"
              class="nav-icon mr-2"
            />
            Accueil
          </a>
        </li>

        <!-- Section Simulation -->
        <li class="nav-item mr-5">
          <a
            class="nav-link"
            routerLink="/simulation"
            routerLinkActive="active"
          >
            <img
              src="assets/icons/lotto.png"
              alt="Simulation"
              class="nav-icon mr-2"
            />
            Simulation
          </a>
        </li>

        <!-- Section Historique -->
        <li class="nav-item mr-5">
          <a
            class="nav-link"
            routerLink="/historique"
            routerLinkActive="active"
          >
            <img
              src="assets/icons/history.png"
              alt="Historique"
              class="nav-icon mr-2"
            />
            Historique
          </a>
        </li>
        <!-- Section Règles -->
        <li class="nav-item mr-5">
          <a class="nav-link" routerLink="/regles" routerLinkActive="active">
            <img
              src="assets/icons/rules.png"
              alt="Regles"
              class="nav-icon mr-2"
            />
            Règles
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
