<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  [class.navbar-scrolled]="isScrolled"
>
  <div class="container-fluid">
    <!-- Logo principal de la navbar -->
    <a class="navbar-brand mr-5" routerLink="/accueil">
      <img src="assets/logo.png" alt="Logo" width="50" height="50" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- Accueil -->
        <li class="nav-item mr-5">
          <a class="nav-link" routerLink="/accueil" routerLinkActive="active">
            <img
              src="assets/icons/home.png"
              alt="Accueil"
              class="nav-icon mr-2"
            />
            Accueil
          </a>
        </li>

        <!-- Simulation -->
        <li class="nav-item mr-5">
          <a
            class="nav-link"
            routerLink="/simulation"
            routerLinkActive="active"
          >
            <img
              src="assets/icons/lotto.png"
              alt="Simulation"
              class="nav-icon mr-2"
            />
            Simulation
          </a>
        </li>

        <!-- Historique -->
        <li class="nav-item mr-5">
          <a
            class="nav-link"
            routerLink="/historique"
            routerLinkActive="active"
          >
            <img
              src="assets/icons/history.png"
              alt="Historique"
              class="nav-icon mr-2"
            />
            Historique
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
