<div *ngIf="classement && classement.length">
  <h1>{{ tirageWin.numeros }}</h1>
  <h1>{{ tirageWin.etoiles }}</h1>
  <h1>{{ tirageWin.pseudo }}</h1>
  <h2>Classement des Tirages</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Position</th>
        <th>Pseudo</th>
        <th>Numéros</th>
        <th>Étoiles</th>
        <th>Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tirage of classement; let i = index">
        <td>{{ position[i] }}</td>
        <td>{{ tirage.pseudo }}</td>
        <td>{{ tirage.numeros.join(", ") }}</td>
        <td>{{ tirage.etoiles.join(", ") }}</td>
        <td>{{ gains[i] + " €" }}</td>
      </tr>
    </tbody>
  </table>
</div>
