<div *ngIf="tirages.length > 0; else noTirages" class="mt-5">
  <h2>Récapitulatif des Tirages</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Pseudo</th>
        <th>Numéros</th>
        <th>Étoiles</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tirage of tirages; index as i">
        <td>{{ i + 1 }}</td>
        <!-- Colonne de numérotation -->
        <td>{{ tirage.pseudo }}</td>
        <td>{{ tirage.numeros.join(", ") }}</td>
        <!-- Affiche les numéros sélectionnés -->
        <td>{{ tirage.etoiles.join(", ") }}</td>
        <!-- Affiche les étoiles sélectionnées -->
      </tr>
    </tbody>
  </table>
</div>

<!-- Template pour afficher si le tableau est vide -->
<ng-template #noTirages>
  <div class="alert alert-warning mt-5">
    <h4 class="alert-heading">Tableau Vide</h4>
    <p>Aucun tirage n'a été effectué pour le moment.</p>
  </div>
</ng-template>
