<!-- Composant de bannière personnalisé, généralement utilisé pour afficher une image ou un message d'accueil -->
<app-banner></app-banner>

<!-- Composant personnalisé pour la section "À propos" de l'application, expliquant son objectif et ses fonctionnalités -->
<app-about></app-about>

<!-- Composant personnalisé qui explique comment fonctionne l'application ou le service -->
<app-how-it-works></app-how-it-works>

<!-- Composant personnalisé pour afficher des statistiques ou des données importantes liées à l'application -->
<app-statistics></app-statistics>

