<div class="container mt-5">
  <app-title
    [level]="4"
    text="Souhaitez-vous un tirage gagnant manuel ou généré automatiquement ?"
  ></app-title>

  <!-- Choix du type de tirage -->
  <div class="form-group">
    <label>
      <input
        type="radio"
        name="drawType"
        [(ngModel)]="isManualWinningDraw"
        [value]="false"
      />
      Généré automatiquement
    </label>
    <label class="ml-3">
      <input
        type="radio"
        name="drawType"
        [(ngModel)]="isManualWinningDraw"
        [value]="true"
      />
      Manuel
    </label>
  </div>

  <!-- Tirage manuel si l'utilisateur choisit l'option manuelle -->
  <div *ngIf="isManualWinningDraw">
    <app-title
      [level]="5"
      text="Sélectionnez les numéros et étoiles pour le tirage gagnant"
    ></app-title>

    <!-- Grille des numéros -->
    <div class="d-flex align-items-center">
      <table class="table-numeros">
        <tr *ngFor="let row of getRows(numeros, 10)">
          <td
            *ngFor="let numero of row"
            class="table-cell"
            (click)="toggleNumeroSelection(numero)"
            [class.selected]="isNumeroSelected(numero)"
          >
            {{ numero }}
          </td>
        </tr>
      </table>
    </div>

    <!-- Grille des étoiles -->
    <div class="d-flex align-items-center">
      <table class="table-etoiles">
        <tr *ngFor="let row of getRows(etoiles, 9)">
          <td
            *ngFor="let etoile of row"
            class="table-cell"
            (click)="toggleEtoileSelection(etoile)"
            [class.selected]="isEtoileSelected(etoile)"
          >
            {{ etoile }}
          </td>
        </tr>
      </table>
    </div>

    <!-- Bouton pour valider la sélection manuelle -->
    <div class="d-grid mt-3">
      <app-button
        label="Valider le tirage gagnant manuel"
        [disabled]="
          selectedNumeros.length !== maxNumerosSelection ||
          selectedEtoiles.length !== maxEtoilesSelection
        "
        (clicked)="validateWinningDraw()"
      >
      </app-button>
    </div>
  </div>

  <!-- Génération automatique si l'option automatique est sélectionnée -->
  <div *ngIf="!isManualWinningDraw" class="d-grid mt-3">
    <app-button
      label="Générer Tirage Gagnant Automatiquement"
      (clicked)="generateWinningDraw()"
    ></app-button>
  </div>
</div>
