.lottery-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
}

.star-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.ball,
.star {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: yellow;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #000;
}

@keyframes spin {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.ball.spin,
.star.spin {
  animation: spin 1s ease-in-out infinite; /* Animation de rotation */
}

.controls {
  margin-top: 30px;
  text-align: center;
}
