<footer class="footer bg-couleurSecondaire text-white py-3">
  <div class="container text-center">
    <!-- Lien centralisé pour les informations -->
    <div class="d-flex justify-content-center mb-5">
      <a routerLink="/quisommesnous" class="footer-link mx-4"
        >Qui sommes-nous</a
      >
      <a routerLink="/contact" class="footer-link mx-4">Contact</a>
      <a routerLink="/politique" class="footer-link mx-4"
        >Politique de confidentialité</a
      >
    </div>
    <!-- Liens des réseaux sociaux centrés -->
    <div class="d-flex justify-content-center mb-5">
      <a
        href="https://www.linkedin.com"
        target="_blank"
        class="footer-social mx-4"
      >
        <img
          src="assets/icons/linkedin.png"
          alt="LinkedIn"
          width="30"
          height="30"
        />
      </a>
      <a
        href="https://www.facebook.com"
        target="_blank"
        class="footer-social mx-4"
      >
        <img
          src="assets/icons/facebook.png"
          alt="Facebook"
          width="30"
          height="30"
        />
      </a>
      <a
        href="https://www.instagram.com"
        target="_blank"
        class="footer-social mx-4"
      >
        <img
          src="assets/icons/instagram.png"
          alt="Instagram"
          width="30"
          height="30"
        />
      </a>
      <a
        href="https://www.youtube.com"
        target="_blank"
        class="footer-social mx-4"
      >
        <img
          src="assets/icons/youtube.png"
          alt="YouTube"
          width="30"
          height="30"
        />
      </a>
      <a
        href="https://www.twitter.com"
        target="_blank"
        class="footer-social mx-4"
      >
        <img
          src="assets/icons/twitter.png"
          alt="Twitter"
          width="30"
          height="30"
        />
      </a>
    </div>
    <!-- Texte de copyright -->
    <div class="copyright mb-4">
      &copy; 2024 LotoSimulation. Tous droits réservés.
    </div>
  </div>
</footer>
