<!-- Section à propos avec un alignement centré et un effet d'animation 'slide-in-left' -->
<section class="about-section text-center py-5 slide-in-left">
  
  <!-- Conteneur principal pour la section -->
  <div class="container">

    <!-- Sous-conteneur centré avec alignement vertical et horizontal -->
    <div class="container d-flex align-items-center justify-content-center">
      
      <!-- Image représentant une icône pour la section 'about' -->
      <img
        src="assets/accueil/boule.png"
        alt="Icône about"
        class="about-icon"
      />
      
      <!-- Composant titre personnalisé avec un niveau d'en-tête de 2 -->
      <app-title [level]="2" text="Qu'est-ce que SimuLoterie ?"></app-title>
    </div>

    <!-- Paragraphe descriptif présentant l'application SimuLoterie -->
    <p class="lead">
      SimuLoterie est une application innovante qui vous permet de simuler une
      multitude de tirages de loterie en personnalisant chaque partie. Découvrez
      immédiatement qui sera le gagnant ! Grâce à SimuLoterie, vous pouvez aussi
      consulter l'historique des tirages, analyser les résultats précédents et
      simuler à nouveau pour améliorer vos chances.
    </p>
    
  </div>
</section>
